html
  head
    title ChatMap | Brain Storming Application
    link(href="/css/style.css")
  body
    div.container
    script(src="/vendor/js/jquery-1.12.4.min.js")
    script(src="/vendor/js/socket.io.js")
    script(src="/vendor/js/d3.v3.min.js")
    if env == 'development'
        script(src="http://localhost:8080/bundle.js")
    else
        script(src="/js/bundle.js")
    script(src="/js/sockettest.js")
