<html>
<head>
  <title>ChatStorming | Brain Storming Application</title>
  <link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8">
</head>
<body>
  <div class="container"></div>

  <script src="/vendor/js/jquery-1.10.2.min.js"></script>
  <script src="/vendor/js/msgpack.codec.js"></script>
  <script src="/vendor/js/libspeexdsp.js"></script>
  <script src="/vendor/js/resampler.min.js"></script>
  <script src="/vendor/js/speechrec.min.js"></script>
  <script src="/vendor/js/socket.io.js"></script>
  <script src="/vendor/js/d3.v3.min.js"></script>
  <script src="/js/sockettest.js"></script>
  <% if (env == 'development') { %>
    <script src="http://localhost:8080/bundle.js"></script>
  <% } else { %>
    <script src="/js/bundle.js"></script>
  <% } %>
  <script src="/js/share.js"></script>

  <svg class="style-svg">
    <style type="text/css" >
      <![CDATA[
      .link {
        fill: #ffb76a;
        stroke: #ffb76a;
      }

      .node.selected circle {
        fill: #b4ea4c;
      }
      ]]>
    </style>
  </svg>
</body>
