<html>
<head>
  <title>ChatStorming | Brain Storming Application</title>
  <link rel="stylesheet" href="/css/lp.css" media="screen" charset="utf-8">
</head>
<body>
  <video id="bg-video" autoplay loop muted>
    <source src="/video/test.mp4" type="/video/mp4">
    </video>
    <div id="overlay">　</div>
    <div id="contents">
      <p id="start"><a href="/"><img src="/images/start.png" alt=""></a></p>
    </div>
    <div class="bar">
      <img src="/images/logo.png" alt="">
      <a href="/">
      <button class="btn1">
        はじめる
      </button>
      </a>
    </div>
    <div id="step">
      <h2>ChatStormingを使えば、<br>チームでのブレインストーミングを簡単に行えます。</h2>
      <div class="boxb">
        <div class="boxa">
          <img src="/images/lp_1.png" alt="">
          <h3>音声認識で<br>アイディア出し</h3>
        </div>
        <div class="boxa">
          <img src="/images/lp_2.png" alt="">
          <h3>動的な<br>マインドマップ</h3>
        </div>
        <div class="boxa">
          <img src="/images/lp_3.png" alt="">
          <h3>グルーピングして<br>保存</h3>
        </div>
      </div>
    </div>
    <div id="point">
      <img src="images/lp_4.png" alt="">
      <p>パソコンさえあればどこでもブレストができる。<br>浮かんだアイディアを感覚的にまとめていける。<br>これがChatStormingの強みです。</p>
    </div>

    <script src="/vendor/js/jquery-1.10.2.min.js"></script>
    <script src="/js/lp.js"></script>
</body>
